<div class="userbox dropdown">
  <% content = capture do %>
    <span class="name dropdown-toggle">
      <%= format_user_name(current_user) %>
    </span>
  <% end %>

  <%= link_to content, "#", data: { toggle: 'dropdown' } %>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><%= link_to t("admin.auth.logout", default: "Log out"), trestle.logout_path, class: "dropdown-item" %></li>
  </ul>
</div>